
main{
    /* margin: 0 40px; */
   background-color: snow;
}

.form-container{
    padding: 80px 0; 
    background-color: snow;
    width: 100%;
}
.form-text{
    color: #808080;

    width: 50%;
    margin: 0 auto;
}
.form-text h1{
    margin-bottom: 20px;
}
form{
    display: block;
    width: 50%;
    
    margin:0 auto;
    /* background-color: tan; */
    /* text-align: left; */
    

}
form input{
    resize: none;
    width: 100%;
    height: 40px;
}
.aspform_button{
    margin: 15px 0;
}
.aspform_button input{
    color: beige;
    border: none;
    background-color:#EE8DA8;
}
form select{
    resize: none;
    width: 100%;
    height: 40px;
}
form textarea{
    resize: none;
    width: 100%;
    height: 100px;
}
.aspform_title {
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #808080;
    margin-bottom: 10px;
    margin-top: 20px;
}
.aspform_error {
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #808080;
    margin-bottom: 10px;
    margin-top: 20px;
}
.aspform span{
    color: #ff0000;
}