html, body {
    background-color: white;
  }
.main_img{
    background-image: url(image/00080_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    object-fit: cover;
}
.sb-container{
    width: 100%;
    height: 250px;
}
button{
    margin:10px;
    padding: 5px;

}
.test {
    padding-top: 80px;
    color: #ffffff;
}
.test p{
    white-space: nowrap;
    position: relative;
    font-size: 34px;
    font-weight: bold;
    margin: auto;
   
    /* color: crimson; */
}
.test p:first-child{
    padding-left: 50px;
}
   
.sb-container img{
    width: 100%;
    height: 250px;
}






.subtitle{
    margin: 0 60px;
    padding:  40px 0;
    color: #ffffff;
}
.subtitle h2{
    font-size: 30px;
}

form{
    font-size: 18px;
    
}



/* ここからリスト */
.list{
    text-align: center;
    padding:60px;
    background-color: #F2F2F2;
}
ul li a{
    text-decoration: none;
    color: black;
}
.list img{
    width: 275px;
    height: 183px;
}

.list h2{
    text-align: left;
    padding: 40px 0 0 0;
    border-bottom: 3px solid black;
    
}
.list-ll{
    display: flex;
    list-style: none;
    margin: 0 40px;
    justify-content:space-around;
    flex-direction:row;
    flex-wrap: wrap;
}
.list-ll li{
    padding-top: 30px;
    flex-wrap: wrap;
}
.price_table{
    margin: 40px;
}
.price_table h1{
    border-bottom: 3px solid black;
    padding: 40px 0 0 20px;

}
table{
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 20px;
}
table th{
    width: 200px;
    height: 50px;
    background-color:#F2F2F2;
    text-align: center;
    margin: 5px 20px;
}
table tr td.price{
    text-align: center;
}


